* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}



header{
    background-color: rgb(23, 23, 167);
    font-size: 70%;
    color: white;
    padding-left: 75%;
    padding-top: 4px;
    padding-bottom: 4px;
    
}

header a {
    padding-inline: 6px;
}

main{
    padding: 10px;
    
    
}

img{
    padding-left: 100px;
    padding-top: 12px;
    height: 90px;
    width: 300px;
}
body{
    background-repeat: no-repeat;
    min-height: 100vh; 
}

nav{
    background-color:rgb(23, 23, 167);
    text-align;
}