* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}



header{
    background-color: rgb(23, 23, 167);
    font-size: 70%;
    color: white;
    padding-left: 75%;
    
   
}

main{
    padding: 10px;
    
    
}

img{
    padding-left: 100px;
    padding-top: 12px;
    height: 90px;
    width: 300px;
}
